@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden !important;
}
.banner{
    background-image: url(../src/assets/female-business-executive-giving-speech.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar .active{
    background-color: transparent !important;
    color: #A5D7E8 !important;
}

.navbar a:hover{
    color: #A5D7E8 !important;
}